.side-bar-container{
    height:92vh;
    position: absolute;
    width:200px;
    padding:0px !important;
    margin: 0px !important;
    overflow: auto;
    background-color:#30708f;
    color: #ffffff;
    z-index: 90;
}
.side-bar-menu{
    width:100%;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-align:left;
    height: 50px;
    padding: 15px;
    margin: 0px;
    cursor: pointer;
    border-bottom: 1px solid #7fb0ff;
}
.side-bar-menu:hover{
    color: #ffffff;
    background-color: #409bc7;
    -webkit-box-shadow: inset 0px 5px 49px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 49px -8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 49px -8px rgba(0,0,0,0.75);
}
.active{
    color: #000000;
    background-color:#ffffff;
    -webkit-box-shadow: inset 0px 5px 49px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 49px -8px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 49px -8px rgba(0,0,0,0.75);
}