<div class="row login-container">
  <div class="col-md-4 col-sm-6 col-xs-8 col-md-offset-4 col-sm-offset-3 col-xs-offset-2 jumbotron">
    <div class="row text-center">
      <p>LOGIN</p>
    </div>
    <form  [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-group">
          <label for="username">User Name:</label>
          <input type="text" 
          class="form-control" 
          name="username"
          formControlName="username"
          > 
        </div>
      </div>
      <div class="error-msg row text-center"   
      *ngIf = "loginForm.get('username').touched && !loginForm.get('username').valid">
        The Username You Entered is Wrong!
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-group">
          <label for="username">Password:</label>
          <input type="password"
            class="form-control" 
            name="password" 
            formControlName="password"
            >
        </div> 
      </div>
      <div class="error-msg row text-center" 
      *ngIf = "loginForm.get('password').touched && !loginForm.get('password').valid"  >
        The Password You Entered is Wrong
      !</div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 text-center">
          <input type="button" class="login-page-btn signup-btn" (click)="signupClick($event)" value="Sign Up">
        </div>
        <div class="col-sm-5 text-center"> 
            <input type="submit"  class="login-page-btn login-btn" value="Login" >
        </div>
      </div>
    </form>
  </div>  
</div>
